body {
    background-image: url(https://scontent.fsdv1-2.fna.fbcdn.net/v/t1.6435-9/216080632_332569831864775_8818458989695891487_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=0debeb&_nc_ohc=3UXGf0DmhnAAX91FT69&_nc_ht=scontent.fsdv1-2.fna&oh=5e550d3b8a7c2df11b73a858b72967bc&oe=6125E50A);
    background-size: 100%;
    margin:0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    margin-top: 50px;
    margin-left: 510px;
    font-size: 60px;
    font-weight: lighter;
    background-color: rgb(214, 218, 13);
    width: 20%;
    text-align: center;
}
.sliderframe {
    width: 90%;
    height: 50vh;
    display: flex;
    overflow: hidden;
    margin-left: 5%;
}
.sliderframe .sliderimg {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    animation: moveToSide 30s alternate infinite;
    animation-delay: 7s;
}
.sliderframe .sliderimg img {
    width: 50%;
    height: 100%;
}
@keyframes moveToSide {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }
}
nav {
    background-color:rgb(7, 7, 7);
    padding: 10px 10px;
    flex-direction: row;
    align-content: center;
    flex-shrink: 1;
    justify-content: flex-end;
}
a {
    text-decoration: none;
    color: gold;
    font-size: 20px;
}
li {
    display: inline;
    padding: 2%;
}
#logo {
    padding-right: 10%;
}
#logoimg {
    width: 80px;
    height: 75px;
}
p {
    font-size: 30px;
    background-color: cornflowerblue;
    width: 32%;
}
#info {
    background-color: rgb(236, 0, 0);
    width: 23%;
}
.form {
    border: 10px solid rgb(0, 255, 13);
    padding: 15px;
    font-size: 22px;
    text-align: start;
    color: var(--formcolor);
    background-color: grey;
    grid-gap: 5px;
    border: ridge;
    box-sizing: border-box;
    width: 300px
  }
  #linktohead {
    margin-left: 70%;
    font-size: 41px;
    background-color: rgb(6, 4, 131);
}
@media screen and (max-width:768px){
    h1 {
        font-size: 50px;
    }
    #info {
        font-size: 40px;
    }
    nav {
        width: 800px;
    }
}
@media screen and (max-width:425px){
    h1 {
        width: 36%;
    }
    p {
        font-size: 30px;
        background-color: cornflowerblue;
        width: 500px;
        height: 30%;
    }
    #info {
        width: 170px;
    }
    .form {
        width: 400px;
        font-size: 30px;
    }
    #linktohead {
        margin-left: 10%;
    }
    .sliderframe .sliderimg {
        width: 700px;
    }
}
